registry=http://repo.stlogic.co.kr/repository/npm-all/
@babel:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
@typescript-eslint:registry=https://registry.npmjs.org/
@terrestris:registry=https://registry.npmjs.org/
@jest:registry=https://registry.npmjs.org/
@eslint:registry=https://registry.npmjs.org/
@sinonjs:registry=https://registry.npmjs.org/
@mapbox:registry=https://registry.npmjs.org/
@ampproject:registry=https://registry.npmjs.org/
@jridgewell:registry=https://registry.npmjs.org/
@nodelib:registry=https://registry.npmjs.org/
@sinclair:registry=https://registry.npmjs.org/
@eslint-community:registry=https://registry.npmjs.org/
@istanbuljs:registry=https://registry.npmjs.org/
@humanwhocodes:registry=https://registry.npmjs.org/
@bcoe:registry=https://registry.npmjs.org/
@tootallnate:registry=https://registry.npmjs.org/
@samverschueren:registry=https://registry.npmjs.org/
@szmarczak:registry=https://registry.npmjs.org/
@sindresorhus:registry=https://registry.npmjs.org/
@petamoriken:registry=https://registry.npmjs.org/
@webassemblyjs:registry=https://registry.npmjs.org/
@xtuc:registry=https://registry.npmjs.org/
@discoveryjs:registry=https://registry.npmjs.org/
@webpack-cli:registry=https://registry.npmjs.org/
@jsdoc:registry=https://registry.npmjs.org/
@keycloak:registry=https://registry.npmjs.org/
@leichtgewicht:registry=https://registry.npmjs.org/
@testing-library:registry=https://registry.npmjs.org/
@adobe:registry=https://registry.npmjs.org/
@heroicons:registry=https://registry.npmjs.org/
@tailwindcss:registry=https://registry.npmjs.org/
@vercel:registry=https://registry.npmjs.org/
@neondatabase:registry=https://registry.npmjs.org/
@next:registry=https://registry.npmjs.org/
@swc:registry=https://registry.npmjs.org/
@alloc:registry=https://registry.npmjs.org/
@nicolo-ribaudo:registry=https://registry.npmjs.org/
@rushstack:registry=https://registry.npmjs.org/
@microsoft:registry=https://registry.npmjs.org/
@pkgr:registry=https://registry.npmjs.org/
@ungap:registry=https://registry.npmjs.org/
@aashutoshrathi:registry=https://registry.npmjs.org/
email=admin@stlogic.co.kr
always-auth=true
#_auth=YWRtaW46c3RsMTIz
